{"Version": "2012-10-17", "Statement": [{"Effect": "Allow", "Action": ["s3:ListBucket", "s3:GetBucketLocation"], "Resource": ["arn:aws:s3:::prisma-airs-terraform-adoption-demo"]}, {"Effect": "Allow", "Action": ["s3:GetObject", "s3:PutObject"], "Resource": ["arn:aws:s3:::prisma-airs-terraform-adoption-demo/state/demo.tfstate", "arn:aws:s3:::prisma-airs-terraform-adoption-demo/plans/*", "arn:aws:s3:::prisma-airs-terraform-adoption-demo/probe/*"]}, {"Effect": "Allow", "Action": ["s3:GetObject", "s3:PutObject", "s3:DeleteObject"], "Resource": ["arn:aws:s3:::prisma-airs-terraform-adoption-demo/state/demo.tfstate.tflock", "arn:aws:s3:::prisma-airs-terraform-adoption-demo/probe/*.tflock"]}]}
